.khan__buy-link{
    margin-left: 20px;
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
    text-decoration: none;
    color: #2F80ED;
    -ms-flex-item-align: start;
        align-self: flex-start;
}
.khan__buy-link:hover{
    opacity: 0.6;
    -webkit-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
}